<div>
  <!-- Tarjetas --
<!-- dashboard.component.html -->
  <div class="dashboard">
    <div class="cards">
      <div class="card green">
        <h4>Total de usuarios</h4>
        <div class="card-data">
          <i class="fas fa-users"></i>
          <h2>{{ usuarios.length }}</h2>
        </div>
      </div>

      <div class="card blue">
        <h4>Total de postulantes</h4>
        <div class="card-data">
          <i class="fas fa-user-graduate"></i>
          <h2>{{ postulantes.length }}</h2>
        </div>
      </div>
      <div class="card yellow">
        <h4>Total de ofertas</h4>
        <div class="card-data">
          <i class="fas fa-briefcase"></i>
          <h2>{{ ofertas.length }}</h2>
        </div>
      </div>
      <div class="card orange">
        <h4>Total de postulaciones</h4>
        <div class="card-data">
          <i class="fas fa-file-alt"></i>
          <h2>{{ postulaciones.length }}</h2>
        </div>
      </div>
    </div>

    <div class="charts">
      <div class="chart wide">
        <h4>Tipo de usuarios registrados por mes</h4>
        <canvas
          #chartUsuarios="base-chart"
          baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="'bar'"
        >
        </canvas>
      </div>
      <div class="chart wide">
        <h4>Fechas de Ofertas laborales</h4>
        <canvas
          #chartOfertas="base-chart"
          baseChart
          [type]="'line'"
          [data]="chartOfertasData"
          [options]="chartOfertasOptions"
        >
        </canvas>
      </div>
      <div class="chart">
        <h4>Postulaciones Realizadas por Mes</h4>
        <canvas
          #chartPostulaciones="base-chart"
          baseChart
          [data]="chartPostulacionesData"
          [options]="chartPostulacionesOptions"
          [type]="'line'"
        ></canvas>
      </div>
      <div class="chart">
        <h4>Ofertas Activas y Cerradas</h4>
        <!-- Donut -->
        <canvas
          #chartStatusOferta="base-chart"
          baseChart
          [data]="chartOfertasDonutData"
          [options]="chartOfertasDonutOptions"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
    </div>
  </div>

  <!-- Gráficos -->
</div>
