<div class="postulantes-container">
  <section class="hero">
    <h1>{{ 'ofertas-cerradas.HeroTitulo' | translate }}</h1>
    <p>{{ 'ofertas-cerradas.HeroDescripcion' | translate }}</p>
  </section>

  <section class="filtros">
    <h3>{{ 'ofertas-cerradas.FiltrosTitulo' | translate }}</h3>
    <div class="filtro-grupo">
      <input
        type="text"
        [placeholder]="'ofertas-cerradas.PalabraClave' | translate"
        [(ngModel)]="filtroPalabra"
      />
      <select [(ngModel)]="filtroCargo">
        <option value="">{{ 'ofertas-cerradas.TipoCargo' | translate }}</option>
        <option>{{ 'ofertas-cerradas.Analista' | translate }}</option>
        <option>{{ 'ofertas-cerradas.BackEnd' | translate }}</option>
        <option>{{ 'ofertas-cerradas.Comercial' | translate }}</option>
      </select>
      <select [(ngModel)]="filtroRango">
        <option value="">{{ 'ofertas-cerradas.Rango' | translate }}</option>
        <option>{{ 'ofertas-cerradas.Junior' | translate }}</option>
        <option>{{ 'ofertas-cerradas.Senior' | translate }}</option>
      </select>
      <input
        type="number"
        [placeholder]="'ofertas-cerradas.SalarioMinimo' | translate"
        [(ngModel)]="filtroSalario"
      />
      <button class="filtrar-btn" (click)="aplicarFiltros()">
        {{ 'ofertas-cerradas.AplicarFiltros' | translate }}
      </button>
    </div>
  </section>

  <section class="ofertas-listado">
    <div class="oferta-card" *ngFor="let oferta of ofertas">
      <h4>{{ oferta.title }}</h4>
      <p><strong>{{ 'ofertas-cerradas.Salario' | translate }}:</strong> {{ oferta.salary | currency:'COP':'symbol-narrow':'1.0-0' }}</p>
      <p><strong>{{ 'ofertas-cerradas.TipoCargo' | translate }}:</strong> {{ oferta.job_type }}</p>
      <p><strong>{{ 'ofertas-cerradas.Rango' | translate }}:</strong> {{ oferta.rank }}</p>
      <div class="botones">
        <button class="detalle-btn" (click)="verDetallesOferta(oferta.id!)">
          {{ 'ofertas-cerradas.VerDetalles' | translate }}
        </button>
        <span class="cerrada-label">
          {{ 'ofertas-cerradas.OfertaCerrada' | translate }}
        </span>
      </div>
    </div>
  </section>
</div>
