<div class="edit-dialog">
  <h2 mat-dialog-title>
    <mat-icon>person</mat-icon>
    {{ 'postulacion.titulo_postulacion' | translate }}
  </h2>

  <mat-dialog-content>
    <form #editForm="ngForm" class="edit-form">
      <!-- Información Académica-->
      <div class="form-section">
        <h3>
          <mat-icon>school</mat-icon>
          {{ 'postulacion.informacion_academica' | translate }}
        </h3>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'postulacion.titulo_pregrado' | translate }}</mat-label>
            <input matInput [(ngModel)]="form.undergraduate_title" name="undergraduate_title" required>
            <mat-icon matSuffix>school</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'postulacion.titulo_posgrado' | translate }}</mat-label>
            <input matInput [(ngModel)]="form.postgraduate_title" name="postgraduate_tittle" required>
            <mat-icon matSuffix>school</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="form-section">
        <h3>
          <mat-icon>abc</mat-icon>
          {{ 'postulacion.perfil' | translate }}
        </h3>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'postulacion.motivacion' | translate }}</mat-label>
          <input matInput [(ngModel)]="form.motivation" name="motivation" required>
          <mat-icon matSuffix>school</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'postulacion.perfil' | translate }}</mat-label>
          <textarea matInput [(ngModel)]="form.resume" name="resume" required></textarea>
          <mat-icon matSuffix>school</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">
      <mat-icon>close</mat-icon>
      {{ 'postulacion.cancelar' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="postular()" [disabled]="!editForm.form.valid">
      <mat-icon>save</mat-icon>
      {{ 'postulacion.confirmar_postulacion' | translate }}
    </button>
  </mat-dialog-actions>
</div>