<div class="edit-dialog">
    <h2 mat-dialog-title>
        <mat-icon>password</mat-icon>
        {{ 'forget_password.header' | translate }}
    </h2>

    <mat-dialog-content>
        <form #editForm="ngForm" class="edit-form">
            <!-- Información Académica-->
            <div class="form-section">

                <div class="form-row">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'forget_password.email_label' | translate }}</mat-label>
                        <input matInput [(ngModel)]="email" name="email" required>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="cancelar()">
            <mat-icon>close</mat-icon>
            {{ 'postulacion.cancelar' | translate }}
        </button>
        <button mat-raised-button name="submit" color="primary" (click)="resetPassword()" [disabled]="email == ''">
            <mat-icon>save</mat-icon>
            {{ 'forget_password.reset_password' | translate }}
        </button>
    </mat-dialog-actions>
</div>