.card-reporte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #001bc4, #0012b3);
  color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.info-reporte {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icono span {
  font-size: 40px;
}

.info-reporte h2 {
  margin: 0;
  font-size: 24px;
}

.info-reporte p {
  margin: 4px 0 0 0;
  font-size: 16px;
  opacity: 0.9;
}
.icono{
    font-size: 50px;
}