<section class="cards">
  <div class="card">
      <div class="icon">
          <i class="fa-solid fa-people-group"></i>
      </div>
      <h3>{{ 'agregar.postulant' | translate }}</h3>
    <button>{{ 'agregar.add' | translate }}</button>
  </div>

  <div class="card">
    <div class="icon"><i class="fa-solid fa-pen-to-square"></i></div>
    <h3>{{ 'agregar.offer' | translate }}</h3>
    <button>{{ 'agregar.add' | translate }}</button>
  </div>
  <div class="card">
    <div class="icon"><i class="fa-solid fa-circle-xmark"></i></div>
    <h3>{{ 'agregar.offer1' | translate }}</h3>
    <button>{{ 'agregar.add' | translate }}</button>
  </div>
  
</section>