<section class="cards">
  <div class="card">
      <div class="icon">
          <i class="fa-solid fa-people-group"></i>
      </div>
    <h3>Postulantes</h3>
    <button>Agregar</button>
  </div>
  <div class="card">
    <div class="icon"><i class="fa-solid fa-pen-to-square"></i></div>
    <h3>Ofertas activas</h3>
    <button>Agregar</button>
  </div>
  <div class="card">
    <div class="icon"><i class="fa-solid fa-circle-xmark"></i></div>
    <h3>Ofertas cerradas</h3>
    <button>Agregar</button>
  </div>
  
</section>