<div class="login-container">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="personalInfoForm">
      <ng-template matStepLabel>
        <span class="step-label">{{ 'register.personal_information' | translate }}</span>
      </ng-template>
      <form [formGroup]="personalInfoForm">
        <div class="login-card">
          <div class="login-header">
            {{ 'register.welcome_label' | translate }}
          </div>
          <div class="login-icon">
            <img src="assets/img/user-icon.png" alt="User Icon">
          </div>

          <mat-form-field container-vertical-padding class="custom-field">
            <mat-label>{{ 'register.name' | translate }}</mat-label>
            <input matInput type="text" class="custom-input" [placeholder]="'register.name_label' | translate"
              formControlName="name" (keypress)="onlyLetters($event)">
            <mat-icon matPrefix>person</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('name')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('name')?.invalid && personalInfoForm.get('name')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="personalInfoForm.get('name')?.errors?.['required']">
              {{ 'register.name_required' | translate }}
            </mat-error>
            <mat-error *ngIf="personalInfoForm.get('name')?.errors?.['minlength']">
              {{ 'register.name_min_length' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.last_name' | translate }}</mat-label>
            <input matInput class="custom-input" [placeholder]="'register.lastname_label' | translate"
              formControlName="last_name" (keypress)="onlyLetters($event)">
            <mat-icon matPrefix>person</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('last_name')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('last_name')?.invalid && personalInfoForm.get('last_name')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="personalInfoForm.get('last_name')?.errors?.['required']">
              {{ 'register.lastname_required' | translate }}
            </mat-error>
            <mat-error *ngIf="personalInfoForm.get('last_name')?.errors?.['minlength']">
              {{ 'register.lastname_min_length' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.id_type' | translate }}</mat-label>
            <mat-select class="custom-input" formControlName="identification_type"
              [placeholder]="'register.id_type_label' | translate">
              <mat-option *ngFor="let type of documentTypes" [value]="type.value">
                {{ type.label }}
              </mat-option>
            </mat-select>
            <mat-icon matPrefix>badge</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('identification_type')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('identification_type')?.invalid && personalInfoForm.get('identification_type')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="personalInfoForm.get('identification_type')?.errors?.['required']">
              {{ 'register.id_type_required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.id' | translate }}</mat-label>
            <input matInput type="number" class="custom-input"
              [placeholder]="'register.id_label' | translate" formControlName="document_id">
            <mat-icon matPrefix>key</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('document_id')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('document_id')?.invalid && personalInfoForm.get('document_id')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="personalInfoForm.get('document_id')?.errors?.['required']">
              {{ 'register.id_required' | translate }}
            </mat-error>
            <mat-error *ngIf="personalInfoForm.get('document_id')?.errors?.['pattern']">
              {{ 'register.id_invalid' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field" appearance="fill">
            <mat-label>{{ 'register.birth' | translate }}</mat-label>
            <input matInput type="date" class="custom-input" [placeholder]="'register.birth_label' | translate"
              formControlName="birth_date">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('birth_date')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('birth_date')?.invalid && personalInfoForm.get('birth_date')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="personalInfoForm.get('birth_date')?.errors?.['required']">
              {{ 'register.birth_required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="custom-field">
            <mat-label>{{ 'register.gender' | translate }}</mat-label>
            <mat-select formControlName="gender" [placeholder]="'register.gender_label' | translate"
              panelClass="custom-select-panel">
              <mat-option *ngFor="let type of genderTypes" [value]="type.value">
                {{ type.label }}
              </mat-option>
            </mat-select>
            <mat-icon matPrefix>person</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('gender')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="personalInfoForm.get('gender')?.invalid && personalInfoForm.get('gender')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="personalInfoForm.get('gender')?.errors?.['required']">
              {{ 'register.gender_required' | translate }}
            </mat-error>
          </mat-form-field>

          <div>
            <button mat-raised-button class="login-btn" 
              (click)="nextStep()"
              [disabled]="personalInfoForm.invalid">
              {{ 'register.button_next' | translate }}
            </button>

            <p style="margin-top: 15px;">
              {{ 'register.have_account' | translate }} <a href="/login">{{ 'register.login_now' | translate }}</a>
            </p>
          </div>
          
        </div>
      </form>
    </mat-step>

    <!-- Paso 2 -->
    <mat-step [stepControl]="contactInfoForm">
      <ng-template matStepLabel>
        <span class="step-label">{{ 'register.contact_information' | translate }}</span>
      </ng-template>
      <form [formGroup]="contactInfoForm">
        <div class="login-card">
          <div class="login-header">
            {{ 'register.welcome_label' | translate }}
          </div>
          <div class="login-icon">
            <img src="assets/img/user-icon.png" alt="User Icon">
          </div>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.email' | translate }}</mat-label>
            <input matInput type="email" class="custom-input" [placeholder]="'register.email_label' | translate"
              formControlName="email">
            <mat-icon matPrefix>mail</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('email')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('email')?.invalid && contactInfoForm.get('email')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="contactInfoForm.get('email')?.errors?.['required']">
              {{ 'register.email_required' | translate }}
            </mat-error>
            <mat-error *ngIf="contactInfoForm.get('email')?.errors?.['email']">
              {{ 'register.email_invalid' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.mobile' | translate }}</mat-label>
            <input matInput type="number" class="custom-input" [placeholder]="'register.mobile_label' | translate"
              formControlName="cell_phone">
            <mat-icon matPrefix>smartphone</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('cell_phone')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('cell_phone')?.invalid && contactInfoForm.get('cell_phone')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="contactInfoForm.get('cell_phone')?.errors?.['required']">
              {{ 'register.mobile_required' | translate }}
            </mat-error>
            <mat-error *ngIf="contactInfoForm.get('cell_phone')?.errors?.['pattern']">
              {{ 'register.mobile_invalid' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.phone' | translate }}</mat-label>
            <input matInput type="number" class="custom-input" [placeholder]="'register.phone_label' | translate"
              formControlName="phone">
            <mat-icon matPrefix>call</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('phone')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('phone')?.invalid && contactInfoForm.get('phone')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="contactInfoForm.get('phone')?.errors?.['required']">
              {{ 'register.phone_required' | translate }}
            </mat-error>
            <mat-error *ngIf="contactInfoForm.get('phone')?.errors?.['pattern']">
              {{ 'register.phone_invalid' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.address' | translate }}</mat-label>
            <input matInput type="text" class="custom-input" [placeholder]="'register.address_label' | translate"
              formControlName="address">
            <mat-icon matPrefix>home</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('address')?.valid" color="primary">check_circle</mat-icon>
            <mat-icon matSuffix *ngIf="contactInfoForm.get('address')?.invalid && contactInfoForm.get('address')?.touched" color="warn">error</mat-icon>
            <mat-error *ngIf="contactInfoForm.get('address')?.errors?.['required']">
              {{ 'register.address_required' | translate }}
            </mat-error>
            <mat-error *ngIf="contactInfoForm.get('address')?.errors?.['minlength']">
              {{ 'register.address_min_length' | translate }}
            </mat-error>
          </mat-form-field>

          <div style="display: flex; justify-content: space-between;">
            <button color="primary" class="login-btn" (click)="previousStep()">
              {{ 'register.button_back' | translate }}
            </button>
            <button mat-raised-button class="login-btn" matStepperNext [disabled]="contactInfoForm.invalid">
              {{ 'register.button_next' | translate }}
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Paso Final -->
    <mat-step [stepControl]="passwordForm">
      <ng-template matStepLabel>
        <span class="step-label">{{ 'register.done' | translate }}</span>
      </ng-template>
      <form [formGroup]="passwordForm">
        <div class="login-card">
          <div class="login-header">
            {{ 'register.welcome_label' | translate }}
          </div>
          <div class="login-icon">
            <img src="assets/img/user-icon.png" alt="User Icon">
          </div>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.password' | translate }}</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'" class="custom-input"
              [placeholder]="'register.password_label' | translate" formControlName="password"
              (input)="onPasswordInput()">
            <button mat-icon-button matSuffix (click)="showPassword = !showPassword"
              [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="showPassword">
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-icon matPrefix>key</mat-icon>
            <mat-error *ngIf="passwordForm.get('password')?.errors?.['required']">
              {{ 'register.password_required' | translate }}
            </mat-error>
            <mat-error *ngIf="passwordForm.get('password')?.errors?.['requisitosNoCumplidos']">
              {{ 'register.password_requirements_not_met' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="custom-field">
            <mat-label>{{ 'register.password1' | translate }}</mat-label>
            <input matInput [type]="showConfirmPassword ? 'text' : 'password'" class="custom-input"
              [placeholder]="'register.password_label1' | translate" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="showConfirmPassword = !showConfirmPassword"
              [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="showConfirmPassword">
              <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-icon matPrefix>key</mat-icon>
            <mat-error *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')?.touched">
              {{ 'register.incorrect' | translate }}
            </mat-error>
          </mat-form-field>

          <div class="password-requirements">
            <p>{{ 'register.password_rules_intro' | translate }}</p>
            <ul>
              <li [class.valid-requirement]="requisitos.length" [class.invalid-requirement]="!requisitos.length">
                <mat-icon [class.valid-icon]="requisitos.length" [class.invalid-icon]="!requisitos.length">cancel</mat-icon>
                <span>{{ 'register.length' | translate }}</span>
              </li>
              <li [class.valid-requirement]="requisitos.hasNumber && requisitos.hasLower" 
                  [class.invalid-requirement]="!(requisitos.hasNumber && requisitos.hasLower)">
                <mat-icon [class.valid-icon]="requisitos.hasNumber && requisitos.hasLower" 
                         [class.invalid-icon]="!(requisitos.hasNumber && requisitos.hasLower)">cancel</mat-icon>
                <span>{{ 'register.number_lower' | translate }}</span>
              </li>
              <li [class.valid-requirement]="requisitos.hasUpper" [class.invalid-requirement]="!requisitos.hasUpper">
                <mat-icon [class.valid-icon]="requisitos.hasUpper" 
                         [class.invalid-icon]="!requisitos.hasUpper">cancel</mat-icon>
                <span>{{ 'register.upper' | translate }}</span>
              </li>
              <li [class.valid-requirement]="requisitos.hasSpecial" [class.invalid-requirement]="!requisitos.hasSpecial">
                <mat-icon [class.valid-icon]="requisitos.hasSpecial" 
                         [class.invalid-icon]="!requisitos.hasSpecial">cancel</mat-icon>
                <span>{{ 'register.special' | translate }}</span>
              </li>
            </ul>
          </div>

          <div style="display: flex; justify-content: center; margin: 20px 0;">
            <div id="recaptcha-container" class="g-recaptcha" data-callback="onCaptchaResolved"
              data-sitekey="6Lcanv0qAAAAAJZXEdthr0g_wb1wMR6lYSEjOFro"></div>
          </div>

          <p *ngIf="!onCaptchaPassed" class="error-text">{{ 'register.captcha_error_label' | translate }}</p>

          <div style="display: flex; justify-content: space-between;">
            <button color="primary" type="button" class="login-btn" (click)="previousStep()">
              {{ 'register.button_back' | translate }}
            </button>
            <button (click)="submit()" class="login-btn" 
              [disabled]="passwordForm.invalid || !onCaptchaPassed || passwordForm.hasError('passwordMismatch')">
              {{ 'register.button' | translate }}
            </button>
          </div>

          <p style="margin-top: 15px;">
            {{ 'register.have_account' | translate }} <a href="/login">{{ 'register.login_now' | translate }}</a>
          </p>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>