<form [formGroup]="form!" (ngSubmit)="submit()">
    <div class="login-container">

        <div class="login-card">
            <!-- Mensaje de Bienvenido con estilo personalizado -->
            <div class="login-header">
                {{ 'login.welcome_label' | translate }}
            </div> <!--icono de user-->
            <div class="login-icon">
                <img src="assets/img/user-icon.png" alt="User Icon">
            </div>
            <mat-form-field class="custom-field">
                <mat-label>{{'login.document_id' | translate}}</mat-label>
                <input matInput type="number" class="custom-input" [placeholder]="'login.document_label' | translate"
                    formControlName='document_id'>
                <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="custom-field">
                <mat-label>{{'login.password' | translate}}</mat-label>
                <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
                    class="custom-input">
            <button mat-icon-button matSuffix (click)="showPassword = !showPassword"
              [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="showPassword">
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
                <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
            <div style="display: flex; justify-content: center; margin-top: 10px;">

                <div id="recaptcha-container" class="g-recaptcha" data-callback="onCaptchaResolved"
                    data-sitekey="6Lcanv0qAAAAAJZXEdthr0g_wb1wMR6lYSEjOFro"></div>
                </div>
            <p *ngIf="!onCaptchaPassed" class="error-text">{{'login.captcha_error_label' | translate}}</p>

            <button  color="primary" class="login-btn" type="submit"
                [disabled]="form?.invalid || !this.onCaptchaPassed">{{'login.login_button'
                | translate}}</button>

            <p style="margin-top: 15px;">
                {{ 'register.havent_account' | translate }} <a href="/register">{{ 'register.register_now' | translate
                    }}</a>
            </p>
        </div>

    </div>
</form>